*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    background-color: #fff5eed8;
}

.logo{
  opacity: 1;
  
}

.list-group-item{
  color:#4949c0;
}

.list-group-item h4{
  color:#010113;
}

.list-group-item-action:hover {
  color: #343488;
  background-color: #b9b9c9;
}

.amountBut{
  width: 25px;
}
.banneri{
    border: 1px solid black;
    padding: 50px;
  background: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/04/02/13/istock-1155240408.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  max-height: 10vh;
  min-height: 5vh;
  height: 190px;
  width: 100%-25px;
  max-width: 100%;
  min-width: 100%;
  opacity: 0.66;
}

ul{
    


}

li{

}

.grid-container {

  }


  .warenkorb{


  }

  .navSearch{

  }

  .rezepte{
    background-color: #26FFE6;
    width: min-content;
    height: min-content;
  }
  